@font-face {
  font-family: "GapSansBold";
  src: url("fonts/GapSansBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

#left-column {
	padding: 20px;
}

/* adjusting fonts */

body {
	font-family: 'GapSansBold', helvetica, -apple-system, BlinkMacSystemFont, arial, sans-serif;
	transition: background 500ms ease;
	background: dodgerblue;
	color: whitesmoke;
}

body.dark {
  background: #333;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}
/* adjusting spacing */


h1 {
	font-family: 'GapSansBold';
	letter-spacing: 0.05em;
	font-size: 26px;
	margin-top:  10px;
	margin-bottom:  20px;
}

h1:hover {
	animation: bounceUpDown 0.3s 3;
}

@keyframes bounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}


p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}


a, a:visited {
  transition: all 500ms ease;
  text-decoration: none;
  color: darkblue;
}

a:hover {
  color: lightblue;
  text-decoration: wavy underline;
  text-shadow: 0px 0px 1px greenyellow;
}


.cursive {
    font-family: cursive;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/